@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply font-sans text-[13px] bg-[#ECF2FD] text-gray-800;
}

.font-light {
  font-weight: 300 !important;
}

.font-normal {
  font-weight: 400 !important;
}

.font-medium {
  font-weight: 500 !important;
}

.font-semibold {
  font-weight: 600 !important;
}

.font-bold {
  font-weight: bold !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 15px;
}

.text-1xl {
  font-size: 15px !important;
}

.no-scroll {
  overflow: hidden;
}

#mobile-menu {
  transition: all 0.3s ease-in-out;
  height: 100vh;
}

.scheduled-timer div {
  color: #FFBD71;
  font-size: 24px;
  font-weight: 600;
}

/* Slider Styles */
#slider {
  width: 964px;
  gap: 1px;
}

.dot {
  background-color: #d1d5db;
}

.dot.active {
  background-color: #0F55A5;
}

.blinking {
  animation: blink 1s ease infinite;
}

.animate-blinkFour {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 17px;
  width: 100%;
  height: 121px;
  animation: blinkFour 2s ease-in;
}

@keyframes blinkFour {
  0% {
    background-color: transparent;
  }
  25% {
    background-color: #ff730f40;
  }
  50% {
    background-color: transparent;
  }
  75% {
    background-color: #ff730f40;
  }
  100% {
    background-color: transparent;
  }
}

.animate-blinkSix {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 17px;
  width: 100%;
  height: 121px;
  animation: blinkSix 2s ease-in;
}

@keyframes blinkSix {
  0% {
    background-color: transparent;
  }
  25% {
    background-color: #3bf27566;
  }
  50% {
    background-color: transparent;
  }
  75% {
    background-color: #3bf27566;
  }
  100% {
    background-color: transparent;
  }
}

.animate-Out {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 17px;
  width: 100%;
  height: 121px;
  animation: Out 2s ease-in;
}

@keyframes Out {
  0% {
    background-color: transparent;
  }
  25% {
    background-color: #f841416b;
  }
  50% {
    background-color: transparent;
  }
  75% {
    background-color: #f841416b;
  }
  100% {
    background-color: transparent;
  }
}

/* Mobile Love Screen Animations */
.phone-animate-blinkFour {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 17px;
  font-size: 27px;
  width: 100%;
  height: 60px;
  animation: phoneblinkFour 2s ease-in;
}

@keyframes phoneblinkFour {
  0% {
    background-color: transparent;
  }
  25% {
    background-color: #ff730f40;
  }
  50% {
    background-color: transparent;
  }
  75% {
    background-color: #ff730f40;
  }
  100% {
    background-color: transparent;
  }
}

.phone-animate-blinkSix {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 17px;
  font-size: 27px;
  width: 100%;
  height: 60px;
  animation: phoneblinkSix 2s ease-in;
}

@keyframes phoneblinkSix {
  0% {
    background-color: transparent;
  }
  25% {
    background-color: #3bf27566;
  }
  50% {
    background-color: transparent;
  }
  75% {
    background-color: #3bf27566;
  }
  100% {
    background-color: transparent;
  }
}

.phone-animate-Out {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 17px;
  width: 100%;
  height: 60px;
  animation: phoneOut 2s ease-in;
}

@keyframes phoneOut {
  0% {
    background-color: transparent;
  }
  25% {
    background-color: #f841416b;
  }
  50% {
    background-color: transparent;
  }
  75% {
    background-color: #f841416b;
  }
  100% {
    background-color: transparent;
  }
}

.scheduled-timer .banner-timer div {
  font-size: 17px;
}

/* Blinking Keyframes */
@keyframes blink {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

/* Media Queries */
@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
  #slider {
    width: 1082px;
    gap: 1px;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 820px) {
  #slider {
    width: 913px;
    gap: 1px;
  }
}

@media screen and (min-device-width: 820px) and (max-device-width: 992px) {
  #slider {
    width: 954px;
    gap: 1px;
  }
}



@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slideUp {
  animation: slideUp 0.3s ease-out;
}
